name: sinicerita
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  # --- AUTHENTICATION & DATABASE (SUPABASE) ---
  supabase_flutter: ^2.0.0

  # --- NETWORK & ENV (Chatbot & API) ---
  http: ^1.2.0           # Untuk request API
  flutter_dotenv: ^5.1.0 # Untuk baca .env

  # --- UI & UTILS ---
  cupertino_icons: ^1.0.8
  image_picker: ^1.1.2
  intl: ^0.19.0          # Cukup ditulis SATU kali di sini
  url_launcher: ^6.3.2
  google_sign_in: ^6.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - .env